form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  label {
    display: block;
    margin-top: 20px;
    font-size: 15px;
    font-weight: 400;
  }
  
  .error{
    color: red;
  }
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="file"],
  #year,
  #about-opportunity {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    color: #000;
  }
  select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    color: #000;
  }
  
  
  input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
  }
  
  input[type="submit"]:hover {
    background-color: #20c997;
  }
  .mandatory_field{
    color: red;
  }